/*++
 CareWheels Corporation 2016
 Filename: groupStatus.css
 Description: This provides the layout, style and formatting of the main group status screen

 Authors: Capstone students PSU Aug 2016
 Revision: Enabled center user - AV 12/18/2016
 Notes: This is a general notes on CSS for the uninitated
 Anything starting with a # means ID. The name following # has to be unique per page. html counterpart
 calls ID by name to set the style of the page.
 Anything staring with a "." is a class meaning a group od values/attributes. ID is also a class but unique
 Both of them what the style will be when HTML code calls them.
 We identify 4 major ID's which get called by HTML and some other smalled ID's too
 1. #careBankBlock	--> This is the main block located at the very top
 2. #careBankHeader	--> This provides the space for the name CareWheels Group
 3. #careBankData
 4. #userGroup
The HTML file will call the ID or the Class by "string name" explicitly and CSS will define the style of the display
Note: In html do not use // for comments they mess up the format
--*/

/*
 First we define the style of the CareBank header and its contents
*/

ul {
	list-style: none;
}
#careBankBlock{
	margin-top:0;
}

#careBankHeader {
	text-align: center;
	font-size: 26px;
}

.careBankDetail{
	display: inline-block;
	position: inherit;
	text-align: center;
	width: 100%;
	margin-left: 0%;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;

}

/* All this provides is a blank box. Html file fills in the wordings and data */
.careBankBalance{
}

#careBankData {


}

#userGroup {
	position: relative;
	left: 0;
	padding-left: 0;
	width: 100%;
	padding-bottom: 100%;
	-webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
	border: 1px solid #737373;
}

/*
 This is the general userSqaure applicable to all users. Increase or decrease
 the width and height to make the sqaures big or small. 50% is normal 40% is smaller
*/

.userSquare {
	position: absolute;
	background-color: none;
	width: 50%;
	height: 50%;
	border: none;
}

/*
WOULD NOT BE TARGETED
<div class="userSquare">
	<div class="vacationMode">
		<img />
	</div>
</div>

any images within a div with userSquare AND vacationMode classes, will get opacity 0.5,
classes without spaces indicate AND */
/*.userSquare.vacationMode img {
	opacity:0.5;
}*/


/* This determines the size of the user image */
.userImage {
	position: absolute;
	width: 85%;
	height: 85%;
	background-color: white;
	margin: 2%;
	border-radius: 150px 150px 150px 150px;
	-moz-border-radius: 150px 150px 150px 150px;
	-webkit-border-radius: 150px 150px 150px 150px;
	border: 1px solid #000000;
}
.topLeft {
	left: 0;
	top: 0;
}
.topRight {
	top: 0;
	right: 0;
}
.bottomLeft {
	left: 0;
	bottom: 0;
}
.bottomRight {
	right: 0;
	bottom: 0;
}

.centerUser {
	left: 28%;
	top: 28%;
	width: 40%;
	height: 40%;
	background: none;
}
/*
 This determines the position of the "center" user image
The main class userImage is defined above
*/
.userImage.center {
	left: 10%;
	top: 10%;
}

.alertOverlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	/* text style */
	color: white;
	text-align: center;
}
.red{
	background-color: #ef473a;
}
.yellow{
	background-color: #ffc900 ;
}
.blue{
	background-color: #11c1f3;
}
.grey{
	background-color: dimgrey;
}

.miniCardHeader {
	padding: 3px;
	font-size: 20px;
}

.stretch {
	width: 100%;
	height: 100%;

}
.errorTitle{
	text-align: center;
	font-size: 20px;
}
.errorTemplate {
	text-align: center;
	font-size: 18px;
}
