/* For individualStatus */
.col {
  border: solid 1px grey;
  text-align: center;
  color: white;
  font-weight: bold;
}
.blackFont{
  color: black;
  font-weight: bold;
}

.col.no_border {
  border: none;
  font-weight: bold;
}

#callArea {
  position: absolute;
  height: 100%;
  width: 60px;
  right: 0;
  top: 0;
  color: white;
  padding-top: 3px;
}

.disableCallButton {
  pointer-events: none;
  color: black;
}

#buttonOverlay {
  position: absolute;
  height: 100%;
  width: 60px;
  right: 0;
  top: 0;
  padding-top: 3px;
  opacity: 0;
}
