<!--
CareWheels Corporation 2016
Filename: advanced.html
Description: This creates the screen for options

Authors: Ananda Vardhana  11/28/16
-->

<ion-view view-title="app.advanced">
	<ion-nav-title>Advanced</ion-nav-title>
	<!-- user group block: holds the -->
	<ion-content>

		<ion-list>

			<ion-item>
				<div class="item item-light miniCardHeader center">
					<button class="button button-block icon icon-left ion-refresh button-positive" ng-click="ScreenRefresh()">
					Screen Refresh</button>
				</div>
			</ion-item>
			<ion-item>
				<div class="item item-light miniCardHeader center">
					<button class="button button-block icon icon-left ion-log-out button-positive" ng-click="Logout()">
					Logout</button>
				</div>
			</ion-item>
			<ion-item>
				<div class="item item-light miniCardHeader center" ng-show="true">
					<button class="button button-block icon icon-left ion-trash-a button-positive" ng-click="ClearMemory()">
					Clear Memory</button>
				</div>
			</ion-item>
			<ion-item>
				<div class="item item-light miniCardHeader center" ng-show="true">
					<button class="button button-block icon icon-left ion-settings button-positive" ng-click="UploadLogfile()">
					Upload Logfile</button>
				</div>
			</ion-item>
			<ion-item>
				<div class="item item-light miniCardHeader center" ng-show="true">
					<button class="button button-block icon icon-left ion-settings button-positive" ng-click="DeleteLogfile()">
					Delete Logfile</button>
				</div>
			</ion-item>
			<ion-item>
				<div class="item item-light miniCardHeader center" ng-show="true">
					<button class="button button-block icon icon-left ion-settings button-positive" ng-click="EnableDebug(dbgLevel)">
					Enable Debug</button>
					<label class="item item-input">
						<input type="text" placeholder="Number 1,2 or 3" ng-model="dbgLevel">
					</label>
				</div>
			</ion-item>
		</ion-list>

	</ion-content>

</ion-view>
