<!--
CareWheels Corporation 2016
Filename: groupStatus.html
Description: This creates the main group screen

Authors: Capstone students PSU Aug 2016
Revision: Enabled center user, made it clickable, appropriatley tabbed it - AV 12/18/2016
Notes for the unintiated:
The browser calls the index.html first and that loads this file.
-->
<ion-view view-title="app.groupStatus">
	<ion-nav-title>CareBank Group</ion-nav-title>
	<!-- user group block: holds the -->
	<ion-content>
		<ion-refresher
     		pulling-text="Pull to refresh Carebank data ..."
     		on-refresh="doRefresh()">
   	    </ion-refresher>
		<ion-list>
			<ion-item>
				<ul id="userGroup">
					<!--this could be implemented using ng-repeat-->
					<!-- ng-class directive dynamically binds one more class to an HTML element
					The value of ng-class can be a string, object or array. -->
					<!--ng-class conditionally adds a css class. ex: {className: Bool} -->
					<!--for example, if group[1].vacationMode === True, then userSquare topLeft will also get class of vacationMode -->
					<!-- The physical coding order in which we postion the following users matters
					The center user group[0] entry has to be the last one as it get superimposed on the the 4 squares
					group[x].status = alertColor - Red, yellow, blue or grey
					-->
					<li class="userSquare topLeft" ng-class="{vacationMode: group[1].vacationMode}" ng-click="clickTopLeft()">
						<div id="topLeftAlert" class="alertOverlay"
							ng-class="group[1].status"></div>
						<img class="userImage topLeft" ng-src="{{group[1].image}}">
					</li>
					<li class="userSquare topRight" ng-class="{vacationMode: group[2].vacationMode}" ng-click="clickTopRight()">
						<div id="topRightAlert" class="alertOverlay"
							ng-class="group[2].status"></div>
						<img class="userImage topRight" ng-src="{{group[2].image}}">
					</li>
					<li class="userSquare bottomLeft" ng-class="{vacationMode: group[3].vacationMode}" ng-click="clickBottomLeft()">
						<div id="bottomLeftAlert" class="alertOverlay"
							ng-class="group[3].status"></div>
						<img class="userImage bottomLeft" ng-src="{{group[3].image}}">
					</li>
					<li class="userSquare bottomRight" ng-class="{vacationMode: group[4].vacationMode}" ng-click="clickBottomRight()">
						<div id="bottomRightAlert" class="alertOverlay"
							ng-class="group[4].status"></div>
						<img class="userImage bottomRight" ng-src="{{group[4].image}}">
					</li>
					<li class="userSquare centerUser" ng-class="{vacationMode: group[0].vacationMode}" ng-click="clickCenter()">
						<div id="centerAlert" class="alertOverlay"
							ng-class=""></div>
						<img class="userImage center" ng-src="{{group[0].image}}">
					</li>

				</ul>
			</ion-item>
			<ion-item>
				<div class="careBankBalance">
					<div class="miniCardHeader center">
        				<table width="100%">
                			<tr>
                        		<td align="center">Balance</td>
                        		<td rowspan="2" width="10%" align="center" style="vertical-align: middle;"> = </td>
                        		<td align="center">Donated</td>
                        		<td rowspan="2" width="10%" align="center" style="vertical-align: middle;"> - </td>
                        		<td align="center">Received</td>
                			</tr>
                			<tr>
                        		<td align="center">{{group[0].balance | number:1}}</td>
                        		<td align="center">{{group[0].credit | number:1}}</td>
                        		<td align="center">{{group[0].debit  | number:1}}</td>
                			</tr>
        				</table>
					</div>
				</div>
			</ion-item>
		</ion-list>
		<div id="careBankBlock" class="bar bar-footer" ng-class=barClassCB ng-show=showBarCB>
			<div class="title">{{barLegendCB}}</div>
		</div>
		<div id="vacationMode" class="bar bar-footer" ng-class=barClassVM ng-show=showBarVM>
			<div class="title">{{barLegendVM}}</div>
		</div>
	</ion-content>
</ion-view>
