<!--
CareWheels Corporation 2017
Filename: groupStatus.html
Description: This creates the individual data status screen

Authors: Capstone students PSU Aug 2016
Revision: Disabled center user call button - AV 01/27/2017
Notes for the unintiated:
The browser calls the index.html first and that loads this file.
getPhoneNumber() and  getCallButtonColor() are two functions which can get called
and then there might have to be made change in the display. In which case $digest
is live and checking. However we do know no one is goign to call these two functions
So to indicate that
-->

<!--
When ever <a href tag is set the browser will automatically make the link or the string pointed clickable.
However in this case there is no link to click but rather we want to click the button. So what we do is
overlay the call button and then make it clickable. The ng-click="checkPhoneError()" will override the
the default one.
-->
<ion-view view-title="app.individualStatus" class="overflow-scroll">
  <ion-nav-title>Status: {{name}}
    <a href="{{::getPhoneNumber()}}" class="blue" ng-click="checkPhoneError()" ng-show="::showCallButton">
      <div id="callArea" class="button" ng-class="::getCallButtonColor()">
        Call
      </div>
    </a>
    <div id="buttonOverlay" ></div>
  </ion-nav-title>

  <!-- individual status content -->
  <ion-content class="moveDown">
    <ion-refresher
      pulling-text="Pull to refresh Carebank data ..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <ul class="row header">
      <li class="col no_border col-25 blackFont"></li>
      <li class="col no_border col-25 blackFont">presence</li>
      <li class="col no_border col-25 blackFont">meals</li>
      <li class="col no_border col-25 blackFont">meds</li>
    </ul>

    <div class="row" ng-repeat="i in getNumber(24) track by $index">
      <div ng-if="$index == 0" class="col blackFont">12am</div>
      <div ng-if="$index == 12" class="col blackFont">12pm</div>
      <div ng-if="$index < 12 && $index != 0" class="col blackFont">{{ $index }}</div>
      <div ng-if="$index > 12" class="col blackFont">{{ $index - 12}}</div>
      <div ng-if="$index <= currentHour" class="col" ng-class="data.presence.value[$index]"></div>
      <div ng-if="$index > currentHour" class="col"></div>
      <div ng-if="$index <= currentHour" class="col" ng-class="data.meals.value[$index]">{{data.meals.hits[$index]}}</div>
      <div ng-if="$index > currentHour" class="col"></div>
      <div ng-if="$index <= currentHour" class="col" ng-class="data.meds.value[$index]">{{data.meds.hits[$index]}}</div>
      <div ng-if="$index > currentHour" class="col"></div>
    </div>

  </ion-content>
</ion-view>
