<!--
CareWheels Corporation 2016
Filename: options.html
Description: This creates the screen for options

Authors: Ananda Vardhana  11/28/16
-->

<ion-view view-title="app.options">
	<ion-nav-title>Options</ion-nav-title>
	<!-- user group block: holds the -->
	<ion-content>

		<ion-list>

			<ion-item>
				<div class="item item-light miniCardHeader center">
					<button class="button icon icon-left ion-refresh button-positive" ng-click="ScreenRefresh()">
					Screen Refresh</button>
				</div>
			</ion-item>
			<ion-item>
				<div class="item item-light miniCardHeader center">
					<button class="button icon icon-left ion-star button-positive" ng-click="About()">
					About</button>
				</div>
			</ion-item>
		</ion-list>

	</ion-content>

</ion-view>
