<ion-view view-title="app.reminders">
  <ion-nav-title>Reminders</ion-nav-title>

  <!-- Reminders list -->
  <div class="bar bar-subheader">
    <button ng-click="saveReminders()" class="button icon ion-archive">Save Changes</button>
    <button ng-click="confirmReset()" class="button icon ion-trash-a">Reset Changes</button>
  </div>

  <!-- Reminders list -->
  <ion-content class="moveDownMore">
    <ion-list>
      <!-- Reminder 0 -->
      <ion-item ng-repeat="r in reminders">
        <ul class="list">
          <li class="item item-toggle">
            <label class="toggle toggle-balanced  onOffToggle">
              OFF
              <input type="checkbox" ng-model=r.isOn>
              <div class="track">
                <div class="handle onOffHandle"></div>
              </div>
              ON
            </label>
            <div class="reminderTime">
              {{padZero(r.hour)}}:{{padZero(r.min)}} {{r.isPM ? 'PM' : 'AM'}}
            </div>
          </li>
          <li class="item range range-positive">
            Hour:
            <input type="range" name="volume" min="1" max="12" ng-model="r.hour">
            AM&nbsp;
            <div class="item item-toggle amPmToggle">
              <label class="amPmTogglePosition toggle toggle-light">
                <input type="checkbox" class="amPmCheckBox" ng-model=r.isPM>
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </div>
            &nbsp;PM
          </li>
          <li class="item range range-positive">
            Minute:
            <input type="range" name="volume" min="0" max="59" step="15" ng-model="r.min">
          </li>
        </ul>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
